body {
  margin: 0;
  background: #333;
  overflow: hidden;
}

.game {
  width: 400px;
  height: 600px;
  background: #555;
  margin: 20px auto;
  position: relative;
  border: 2px solid white;
}

#player, #enemy {
  width: 50px;
  height: 100px;
  position: absolute;
  bottom: 10px;
  background: red;
  border-radius: 5px;
}

#player {
  left: 175px;
  background: limegreen;
}

#enemy {
  top: 0;
  left: 175px;
  background: red;
}
